<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuários</title>
    <script>
      function redirectToSearch() {
        const input = document.getElementById("nome");
        const nome = input.value.trim();
        if (nome) {
          window.location.href = `/usuario/buscar?nome=${encodeURIComponent(
            nome
          )}`;
        } else {
          alert("Por favor, insira um valor para buscar.");
        }
      }

      window.onload = function () {
        document
          .getElementById("nome")
          .addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
              event.preventDefault();
              redirectToSearch();
            }
          });
      };
    </script>
  </head>
  <body class="min-h-screen min-w-screen p-2">
    <div class="border rounded-md p-2 flex items-center justify-between">
        <p class="text-xl font-semibold">Usuários</p>
        <div class="flex items-center gap-2">
          <a href="/categoria">Categorias</a>
          <a href="/cliente">Clientes</a>
          <a href="/">Eventos</a>
          <a href="/local">Locais</a>
          <a href="/participante">Participantes</a>
        </div>
        <div class="flex items-center gap-2">
          <a
            href="/usuario/cadastrar"
            class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
          >
            Criar
          </a>
          <div class="border px-2 py-1 rounded-md flex items-center gap-2">
            <input
              class="focus:outline-none"
              type="text"
              name="nome"
              id="nome"
              placeholder="Digite alguma coisa..."
            />
            <img
              class="hover:cursor-pointer"
              src="/search.png"
              onclick="redirectToSearch()"
            />
          </div>
          <button
            class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
          >
            Entrar
          </button>
        </div>
      </div>
    <div
      class="h-[calc(100vh-5rem)] w-full flex items-center justify-center text-center"
    >
      <form action="/usuario" method="post" class="flex flex-col items-center gap-2">
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Digite o nome"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite o e-mail"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <input
          type="password"
          name="senha"
          id="senha"
          placeholder="Digite o senha"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <button
          type="submit"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors w-full"
        >
          Cadastrar
        </button>
      </form>
    </div>
    <script src="https://cdn.tailwindcss.com" defer></script>
  </body>
</html>
