<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuários</title>
    <script>
      function atualizarUsuario() {
        const nome = document.getElementById('nome').value.trim();
        const email = document.getElementById('email').value.trim();
        fetch('/usuario/<%=usuario.id%>', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            nome,
            email,
          }),
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = '/usuario';
            } else {
              alert('Erro ao atualizar usuario.');
            }
          })
          .catch((error) => {
            console.error(error);
            alert('Erro ao atualizar participante.');
          });
      }
    </script>
  </head>
  <body class="min-h-screen min-w-screen p-2">
    <div class="border rounded-md p-2 flex items-center justify-between">
      <a href="/usuario" class="text-xl font-semibold">Usuários</a>
      <div class="flex items-center gap-2">
        <a href="/categoria">Categorias</a>
        <a href="/cliente">Clientes</a>
        <a href="/">Eventos</a>
        <a href="/local">Locais</a>
        <a href="/participante">Participantes</a>
      </div>
      <div class="flex items-center gap-2">
        <a
          href="/usuario/cadastrar"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Criar
        </a>
        <button
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Entrar
        </button>
      </div>
    </div>
    <div
      class="h-[calc(100vh-5rem)] w-full flex items-center justify-center text-center"
    >
      <form class="flex flex-col items-center gap-2">
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Digite o nome"
          value="<%=usuario.nome%>"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite o e-mail"
          value="<%=usuario.email%>"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <button
          onclick="atualizarUsuario()"
          type="button"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors w-full"
        >
          Atualizar
        </button>
      </form>
    </div>
    <script src="https://unpkg.com/@tailwindcss/browser@4" defer></script>
  </body>
</html>
