<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locais</title>
    <script>
      function atualizarLocal() {
        const cidade = document.getElementById("cidade").value.trim();
        const estado = document.getElementById("estado").value.trim();
        const pais = document.getElementById("pais").value.trim();
        if (cidade && estado && pais) {
          fetch(`/local/<%= local.id %>`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ cidade, estado, pais }),
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = "/local";
              } else {
                alert("Erro ao atualizar local.");
              }
            })
            .catch((error) => {
              console.error(error);
              alert("Erro ao atualizar local.");
            });
        } else {
          alert("Por favor, insira um valor para atualizar.");
        }
      }
    </script>
  </head>
  <body class="min-h-screen min-w-screen p-2">
    <div class="border rounded-md p-2 flex items-center justify-between">
      <a href="/local" class="text-xl font-semibold">Locais</a>
      <div class="flex items-center gap-2">
        <a href="/categoria">Categorias</a>
        <a href="/cliente">Clientes</a>
        <a href="/">Eventos</a>
        <a href="/participante">Participantes</a>
      </div>
      <div class="flex items-center gap-2">
        <button
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Entrar
        </button>
      </div>
    </div>
    <div
      class="h-[calc(100vh-5rem)] w-full flex items-center justify-center text-center"
    >
      <form class="flex flex-col items-center gap-2">
        <input
          type="text"
          name="cidade"
          id="cidade"
          placeholder="Digite a cidade"
          value="<%=local.cidade%>"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <input
          type="text"
          name="estado"
          id="estado"
          placeholder="Digite o estado"
          value="<%=local.estado%>"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <input
          type="text"
          name="pais"
          id="pais"
          placeholder="Digite o pais"
          value="<%=local.pais%>"
          class="border rounded px-2.5 py-1.5 outline-none"
        />
        <button
          type="button"
          onclick="atualizarLocal()"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors w-full"
        >
          Atualizar
        </button>
      </form>
    </div>
    <script src="https://cdn.tailwindcss.com" defer></script>
  </body>
</html>
